# 1.Factorial of number

In [3]:
def factorial(num):
    if num==1 or num==0:
        return 1
    else:
        return num*factorial(num-1)
factorial(5)

120

# 2.Python Program to check Armstrong Number

In [18]:
def armstrong(num):
    temp=num
    sum=0
    while temp>0:
        digit=temp%10
        sum+=digit**3
        temp//=10
    
    if num==sum:
        print(num,' is armstrong')
    else:
        print(num,'is not armstrong')

armstrong(151)

151 is not armstrong

# 3. Python program to print all Prime numbers in an Interval

In [23]:
def prime_interval(start,end):
    a=[]
    for i in range(start,end):
        if i>1:
            for j in range(2,i):
                if(i%j==0):
                    break
            else:
                a.append(i)
                
    return a
                
    
prime_interval(11,30)

[11, 13, 17, 19, 23, 29]

# 4. Python program to check whether a number is Prime or not

In [31]:
def prime(num):
    if num>1:
        for i in range(2,num):
            if(num%i==0):
                print(num,"is not prime number")
                break
            else:
                print(num,"s prime number")
                break
prime(23)

23 s prime number

# 5 Python Program for n-th Fibonacci number

In [37]:
def Fibonacci(num):
    if num<0:
        return False
    elif num==1:
        return 0
    elif num==2:
        return 1
    else:
        return Fibonacci(num-1)+Fibonacci(num-2)
Fibonacci(9)

21

# 6Python Program for Sum of squares of first n natural numbers

In [39]:
def sum_natural(num):
    sum=0
    for i in range(0,num):
        sum+=i
    return sum
sum_natural(10)

45

# 7 Python Program for cube sum of first n natural numbers

In [45]:
def cube_sum(num):
    cube=0
    for i in range(1,num+1):
        cube+=i*i*i
    return cube
cube_sum(5)

225

# 8. Python regex to fetch specific string from txt

In [71]:
import re
def date_of_birth(txt):
    txt=txt.lower()
    
    if 'dob:' in txt:
        date_of_birth=re.findall(r'dob:.+',txt)
        date_of_birth=date_of_birth[0].split()
        return date_of_birth[0]
    else:
        return False
     
def mobile_number(txt):
    txt=txt.lower()
    
    if 'mobile_number:' in txt:
        mobile_number=re.findall(r'mobile_number:.+',txt)
        mobile_number=mobile_number[0].split()
        return mobile_number[0]
    else:
        return False
    
def email(txt):
    txt=txt.lower()
    txt=txt.replace(' ','')
    
    if 'email' in txt:
        email=re.findall(r'email.+',txt)
        email=email[0].split()
        return email[0]
    else:
        return False
    
def main(txt):
    
    return date_of_birth(txt),mobile_number(txt),email(txt)
    
txt=''' my name is shyam and my dob:04/05/96 AND mobile_number:123456789 and email:abc@gmail.com'''                    
main(txt)

('dob:04/05/96', 'mobile_number:123456789', 'email:abc@gmail.com')

# Find out number within range from txt

In [69]:
txt=''' my name is shyam and my dob:04/05/96 AND mobile_number:123456789 and email:abc@gmail.com'''
re.findall(r'\d{8,9}',txt)

['123456789']